#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*General sized buttons for our MainPage page selection*/
button {
    width: 128px;
    height: 128px;
    background: lightgray;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "Test test test";
    grid-gap: 60px;
}

.btnImage {
    width: 64px;
    height: 64px;
    margin: auto;
    justify-self: center;
}
